body {
    background: none;
}

p {
    background-color: black
    color: ;
    text-align: center;
}

form{
    text-align: center;
}

.wrapper input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(14, 7, 7);
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: rgb(119, 20, 20);
}

